[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig.private.work

[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig.private.personal

[push]
	autoSetupRemote = true
	default = current

[init]
	defaultBranch = main

[core]
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = false
    hunk-header-style = file line-number syntax
    hunk-header-decoration-style = blue ol
    file-style = bold yellow ul
    file-decoration-style = none
    line-numbers = true

[pager]
	diff = diffnav

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[fetch]
	prune = true
[url "git@github.com:"]
	insteadOf = https://github.com/
